/* Formatting here can change to achieve different viewing results from same data */
.contract-viewing {
    h2, h3, h4, h5, h6 {
        display: inline;
        font-weight: normal;
    }

    p, span, ul, ol, li, table, th, td, clause{
        text-align: left;
    }
    p {
        display: inline;
    }
    block{
        margin-top: 10px;
        display: block;
        text-align: left;
    }
    clause {
        margin-top: 20px;
    }
}
.json-viewer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: max-content;
    width: 90%;
    background-color: #896bfd34;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    padding:10px 30px 0px 30px;
}
